button {
  border: 0px;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
  border-radius: 10px;
}
button:hover {
  background-color: #c9c9c9;
  transform: scale(1.2);
}
.changeCalender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.currentYearMonth {
  margin-right: 20px;
  margin-left: 20px;
}

table {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.number {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 500px;
  width: 500px;
}
.number td:hover {
  background-color: #f7f7f7;
  transform: scale(1.04);
}
.number td {
  width: 67.1406px;
  height: 92.0781px;
  border-top: 1px solid #e7e7e7;
  vertical-align: top;
  transition: all 0.3s;
  overflow: hidden;
}

.weeks {
  background-color: rgb(243, 243, 243);
  width: 500px;
  border-radius: 10px 10px 0px 0px;
}
.today {
  background-color: rgb(252, 255, 203);
}
.calenderBody {
  border: 1px solid #333;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 1px 1px 7px #9c9c9c;
  width: 550px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
}
.plan {
  display: block;
  width: 100%; /* セル幅いっぱい */
  font-size: 12px;
  color: blue;
  margin-top: 2px;
  white-space: normal; /* ← nowrapをやめて折り返しOKに */
  word-break: break-word; /* ← 長い単語でも強制的に折り返す */
  overflow: hidden;
  text-overflow: ellipsis; /* はみ出したら "..." を付ける */
  box-sizing: border-box;
}
